@charset "utf-8";
@import './reset.css';

body, .App {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242736;
    color: #fff;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.rating-part {
    text-align: center;
}

.rating-part h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-top: 300px;
    margin-bottom: 20px;
    color: #ffffff;
}

.grey {
    color: #3f4152; 
    font-size: 4rem;
    margin: 0 4px;
    cursor: pointer;
}

.pink {
    color: rgb(206, 33, 62);
    font-size: 4rem;
    margin: 0 4px;
    cursor: pointer;
}

.rating-part h3 {
    font-size: 1.8rem;
    margin-top: 15px;
    font-weight: 400;
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 14px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 40px;
}

.dialog-box {
    background: #252736;
    padding: 80px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top:-120px;
    right: 2px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.9rem;
}