@charset "utf-8";
@import './reset.css';

body, .App {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242736;
    color: #fff;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.rating-part {
    text-align: center;
}

.rating-part h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-top: 300px;
    margin-bottom: 20px;
    color: #ffffff;
}